.day-select{
	top: 70px;
	z-index: $datepicker;
}

.react-datepicker__tether-element{
	.react-datepicker{
		margin-top: 70px;
	}
}

.day-select,
.react-datepicker__tether-element{


	.react-datepicker{
		font-family: $primary-font;
		font-size: $font-size-base;
		border: 0;

		@include box-shadow-z(4);
		@include rounded(3px);


		// Arrows
		.react-datepicker__triangle{
			font-size: $font-size-base;
			width: 100%;
			left: 0;
			margin-top: 0;
			border: 0
		}
		.react-datepicker__triangle::before{
			display: none
		}
		.react-datepicker__triangle::after{
			display: block;
			position: absolute;
			bottom: 100%;
			left: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			pointer-events: none;
			border-color: rgba(136, 183, 213, 0);
			border-bottom-color: #F05F3E;
			border-width: 6px;
			margin-left: -15px;
		}
		.react-datepicker__navigation{
			top: 20px;
			border: 0.34rem solid transparent;
		}
		.react-datepicker__navigation--previous {
			left: 15px;
			border-right-color: #FFF;
		}
		.react-datepicker__navigation--next {
			right: 15px;
			border-left-color: #FFF;
		}

		// Header
		.react-datepicker__header{
			border: 0;
			padding-top: 14px;
			@include rounded(3px 3px 0 0);
			@include gradient-horizontal(#F05F3E, #ED3269, 60%, 120%);

			.react-datepicker__current-month{
				font-size: $font-size-base;
				color: #FFF;
				font-weight: 500;
			}

			.react-datepicker__day-names{
				margin-top: 10px;

				.react-datepicker__day-name{
					width: 3.2em;
					line-height: 3.2em;
					color: rgba(255,255,255,0.6);
					font-weight: 500;
					text-transform: uppercase;
					letter-spacing: 0.8px;
					font-size: 11px;
				}
			}

			.react-datepicker__year-dropdown-container{
				margin-top: 10px;
			}

		}

		// Body
		.react-datepicker__month{
			margin: 15px;

			.react-datepicker__day{
				font-weight: 500;
				width: 2.8em;
				line-height: 2.8em;
				@include rounded(50%);
			}

			.react-datepicker__day--outside-month{
				font-weight: 300;
				@include opacity(0.54);
			}

			.react-datepicker__day--today{
				background-color: inherit;
				color: $mdc-red-500;
				border: 1px solid $mdc-red-500;

			}
			.react-datepicker__day--selected{
				font-weight: 500;
				color: #FFF;
				background: $mdc-red-500;
				@include rounded(50%);
			}
		}
	}
}



// Small fix for the sidebar datapicker
.react-datepicker__input-container{
	position: relative;
	width: 100%;
	input[type]{
		width: 100%;
	}
}
